{% extends 'main.html' %}

{% block title %}Password Reset Complete{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-header text-center bg-primary text-white">
          <h2>Password reset complete</h2>
        </div>
        <div class="card-body">
          <p class="lead text-center">
            Your Password has been set. You may go ahead and login
          </p>
          <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
